pkgbase = escgram-bin
	pkgdesc = ESCgram desktop Telegram client (prebuilt binary)
	pkgver = 0.2.4aur1
	pkgrel = 1
	url = https://github.com/lReDragol/ESCgram
	arch = x86_64
	license = custom:unknown
	depends = glibc
	depends = glib2
	depends = dbus
	depends = fontconfig
	depends = libxkbcommon-x11
	depends = libglvnd
	depends = hicolor-icon-theme
	optdepends = ollama: local AI model support
	provides = escgram
	conflicts = escgram
	source_x86_64 = https://github.com/lReDragol/ESCgram/releases/download/v0.2.4-aur/ESCgram-linux.tar.gz
	source_x86_64 = escgram.desktop
	sha256sums_x86_64 = a5d67c1f20b6c7df89ead9acbda4b62d7e023e39ca98fe7d04d82af4f0332698
	sha256sums_x86_64 = SKIP

pkgname = escgram-bin
